*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
/app/build/generated/
/app/build/intermediates/
/app/build/kotlin/
/app/build/kotlinToolingMetadata/
/app/build/reports/
/app/build/test-results/
/app/build/tmp/
/app/build/outputs/androidTest-results/
/app/build/outputs/code_coverage/
/app/build/outputs/connected_android_test_additional_output/
/app/build/outputs/logs/
/app/build/outputs/sdk-dependencies/
